body {
	height: 100%;
	width: auto;
	margin: 0;
	text-align: center;
  background-image: url("/image/bg1.jpg");
}
p {
  font-size: 2rem;
}

h1 {
	color: white;
  /* color: #00FFAA; */
}

.nucky a {
  color: white;
  font-size: 2.25rem;
  text-decoration: none;
}

.footer {
position: relative;
right: 0;
bottom: 0;
left: 0;
padding: 1rem;
text-align: center;
}
