body {
	height: 100%;
	width: auto;
	margin: 0;
  font-family: 'Raleway', sans-serif;
	text-align: center;
  color: #333;
}
p {
  font-size: 2rem;
}

h1 {
 color: #333;
}

ul {
  list-style: none;
}

a {
  color: #333;
  font-size: 2.25rem;
  text-decoration: none;
}

a:hover {
  color: #2E86AB;
  transition: all 500ms ease;
}


footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}
